body {
    padding-top: 120px;
    font-family: Sans-serif;
    font-size: 14px;
}

#container {
    margin: 20px;
    padding: 20px;
}

#footer {
    background: aliceblue;
    text-align: center;
    margin-top: 100px;
}

#footer_text {
    margin-top: 10px;
}

#alertMsg {
    display: none;
}

#no_data_alert {
    display: none;
}

.registeration_view {
    margin-bottom: 50px;
}

td, th {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#user_screen_title {
    font-size: 32px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1em;
    color: #66aeeb;
    font-weight:bold;
}

#user_screen_subtitle {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1em;
    color: #66aeeb;
    font-weight:bold;
}

.filter_div {
    margin-bottom: 20px;
}

.request_a_book {
    margin-bottom: 20px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
